<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
<meta charset="UTF-8" />
<title>Employee Management System</title>
</head>
<body>
	<div class="container my-2">
		<h1>Employee Management System</h1>
		<hr>
		<table>
			<tr><div>
				<div style="font-weight:bold;font-size:28px;">Employee List</div>
				<div style="float:right;">
				<form action="#" th:action="@{/searchEmployee/{id}}" method="POST" th:object="${employee}"> 
					<button type="submit" class="btn btn-info" style="float:right;">Search</button>
					<input type="text" th:field="*{id}" style="float:right;margin-right:10px;" placeholder="Enter Employee id"><br>
				</form>
				</div>
				</div>
			</tr>
		</table>
		
		<a th:href="@{/showNewEmpForm}" class="btn btn-primary btn-sm mb-3">Add
			Employee</a>	
		
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Employee First Name</th>
					<th>Employee Last Name</th>
					<th>Employee Email</th>
					<th>Employee Mobile</th>
					<th>Department No</th>
					<th>Department Name</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="emp:${listEmp}">
					<td th:text="${emp.firstname}"></td>
					<td th:text="${emp.lastname}"></td>
					<td th:text="${emp.email}"></td>
					<td th:text="${emp.mobile}"></td>
					<td th:text="${emp.department.dept_no}"></td>
					<td th:text="${emp.department.dept_name}"></td>

					<td><a th:href="@{/showEmpUpdateForm/{id}(id=${emp.id})}"
						class="btn btn-primary">Update</a></td>

					<td><a th:href="@{/deleteEmployee/{id}(id=${emp.id})}"
						class="btn btn-danger">Delete</a></td>
				</tr>
			</tbody>
		</table>

	
</body>
</html>